@import url(_reset.css);

body {
    background-color: rgb(249, 243, 242);
  }

li {
    list-style-type: none;
  }
  
  #postsAll img, #postsFollowing img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }